<div class="container">
  <div class="row my-5">
    <div class="col-md-10 offset-md-1 text-center bg-light">
      <h1>PangoBook</h1>
      <p>
        <b>Hey, toi le pangolin!</b> Nous sommes sûr chez Pangolin-book que tu as besoin d'un super carnet d'adresses pour garder contact avec tes amis (ou pas d'ailleurs).
        <b>Connecte-toi</b> ou bien <b>inscris-toi</b> si ce n'est pas déjà fait! et rempli (ou vide) ton carnet d'adresses ;)
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4 offset-md-4 text-center">
      <button class="btn btn-home btn-dark btn-lg" routerLink="/login">Connexion</button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4 offset-md-4 text-center">
      <button class="btn btn-home btn-dark btn-lg" routerLink="/register">Inscription</button>
    </div>
  </div>
</div>
