<div class="container">
    <div class="row my-5">
      <div class="col-md-6 offset-md-3 bg-light text-center">
        <h1>Inscription</h1>
        <p class="lead">
          Déjà membre? <a routerLink="/login">Connecte toi</a>.
        </p>
        <form (submit)="register()">
          <div class="form-group">
            <label for="name">Full name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Martin le Pangolin"
              [(ngModel)]="credentials.name"
            />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              [(ngModel)]="credentials.password"
            />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="text"
              class="form-control"
              name="age"
              placeholder="12"
              [(ngModel)]="credentials.age"
            />
          </div>
          <div class="form-group">
            <label for="family">Famille</label>
            <select class="form-control" id="family" name="family" [(ngModel)]="credentials.family">
              <option value>Manidae</option>
              <option>Maninae</option>
              <option>Smutsiinae</option>
              <option>Fossile</option>
            </select>
          </div>
          <div class="form-group">
            <label for="diet">Et toi, tu manges quoi?</label>
            <input
              type="text"
              class="form-control"
              name="diet"
              placeholder="Insectes"
              [(ngModel)]="credentials.diet"
            />
          </div>
          <button type="submit" class="btn btn-dark">Je m'insris!</button>
        </form>
      </div>
    </div>
  </div>